@import "fonts.css";
@import "colors.css";
@import "mobile.css";
@import "desktop.css";

.bold {
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}
