@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@import "mobile.css";
@import "desktop.css";

.bold {
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}
