@media screen and (min-width: 768px) {

    header .intro .intro-name {
        font-size: 1.9em;
    }

    header ul.nav-menu {
        gap: 18px;
        margin: 25px 0 25px 0;
    }

    header ul.nav-menu li a {
        font-size: 0.9em;
    }

    main .content {
        width: 500px;
        margin: 0 auto;
    }

}
