@media screen and (min-width: 900px) {

    header .photo {
        display: block;
        position: absolute;
        left: calc(50% - 440px);
        top: 40px;
    }

    header .photo img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: solid 3px white;
    }

    header .intro .intro-name {
        font-size: 1.9em;
    }

    header ul.nav-menu {
        gap: 18px;
        margin: 25px 0 25px 0;
    }

    header ul.nav-menu li a {
        font-size: 0.9em;
    }

    main .content {
        width: 500px;
        margin: 0 auto;
    }

}
