@media screen and (min-width: 1120px) {

    body {
        font-size: 20px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    header .photo {
        display: block;
        position: absolute;
        left: calc(50% - 540px);
        top: 70px;
    }

    header .photo img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: solid 5px;
        border-color: var(--light-bg);
    }

    header .intro .intro-name {
        font-size: 1.9em;
    }

    header ul.nav-menu {
    }

    header ul.nav-menu li {
        width: 200px;
    }

    header ul.nav-menu li a {
        width: 200px;
    }

    main .content {
        width: 800px;
        margin: 0 auto;
    }

    main .content .section .section-title a.previous, main .content .section .section-title a.next {
        width: 35px;
        height: 35px;
        border-radius: 14px;
    }

    main .content .section .section-content .experiences-list .experience-list-item {
        display: inline-block;
        margin: 10px 0 0 10px;
        width: 220px; /* (800-20*2-10*4-10*6)/3 = 220 */
    }

    footer {
        height: 80px;
    }

}
