.mobile {
    display: block;
}

.desktop {
    display: none;
}

.date-range {
    font-size: 0.8em;
}

body {
    background-color: var(--light-bg);
    color: var(--text);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
}

a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a[href^="http"]::after {
    content: "\2197";
}

a.no-external-arrow[href^="http"]::after {
    content: "";
}

ul {
    text-align: left;
    margin: 10px 0 0 25px;
    padding: 0;
}

header {
    position: relative;
}

header .photo {
    display: none;
}

header .intro {
    background-color: var(--primary);
    padding: 20px;
    color: var(--text-over-dark-bg);
    font-family: 'Zalando Sans SemiExpanded';
}

header .intro .intro-name {
    font-size: 1.6em;
    font-weight: bold;
}

header .intro .curriculum-vitae {
    font-family: 'Merriweather';
    text-transform: uppercase;
}

header ul.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 10px 0 0 0;
}

header ul.nav-menu li {
    width: 120px;
}

header ul.nav-menu li a {
    background-color: var(--secondary);
    color: var(--text-over-dark-bg);
    border-radius: 6px 6px 0 0;
    text-decoration: none;
    font-family: 'Zalando Sans SemiExpanded';
    font-weight: bold;
    display: block;
    width: 120px;
    text-align: center;
    padding: 3px;
}

header ul.nav-menu li a:hover {
    background-color: var(--primary);
}

main .content {
    margin: 20px;
    text-align: justify;
    font-family: 'Zalando Sans', sans-serif;
}

main .content .section .section-title {
    position: relative;
    font-weight: bold;
    margin-top: 25px;
}

main .content .section .section-title a.previous, main .content .section .section-title a.next {
    background-color: var(--secondary);
    color: var(--text-over-dark-bg);
    position: absolute;
    bottom: 0px;
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

main .content .section .section-title a.previous {
    left: 0px;
}

main .content .section .section-title a.next {
    right: 0px;
}

main .content .section .section-title a.previous:hover {
    background-color: var(--primary);
}

main .content .section .section-title a.next:hover {
    background-color: var(--primary);
}

main .content .section .section-separator {
    margin: 20px 0 0 0;
}

main .content .section .section-separator svg.separator-marker {
    stroke: var(--text);
    width: 20px;
    height: 20px;
}

main .content .section .section-separator svg.separator-line {
    stroke: var(--text);
    width: calc(100% - 40px);
    height: 20px;
}

main .content .section .section-content {
    margin: 0 20px 0 20px;
    font-size: 0.9em;
}

main .content .section .section-content .experiences-list .experience-list-item {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to bottom, white, var(--light-bg));
}

main .content .section .section-content .contact .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

main .content .section .section-content .contact .row div {
}

main .content .section .section-content .contact .row .left {
    width: 30px;
    height: 20px;
    text-align: center;
}

main .content .section .section-content .contact .row .left svg.contact-icon {
    width: 20px;
    height: 20px;
    fill: var(--text);
}

main .content .section .section-content .contact .row .right a svg.contact-icon {
    width: 25px;
    height: 25px;
    fill: var(--secondary);
}

main .content .section .section-content .contact .row .right {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
    margin-bottom: 10px;
}

main .content .section .section-content a svg.big-icon {
    width: 100px;
    height: 100px;
    fill: var(--secondary);
}

main .content .section .section-content .contact .row .right a.no-external-arrow {
    margin-right: 10px;
}

main .content .section .section-content ul.education {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .content .section .section-content .education .education-item .degree {
    font-weight: bold;
}

main .content .section .section-content .experience .job-title {
    margin: 10px 0 10px 0;
}

main .content .section .section-content .experience .technologies {
    margin: 10px 0 10px 0;
}

footer {
    height: 20px;
}
