.mobile {
    display: block;
}

.desktop {
    display: none;
}

.date-range {
    font-size: 0.8em;
}

body {
    background-color: var(--light-bg);
    color: var(--text);
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    text-align: left;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

header {
    position: relative;
}

header .photo {
    display: none;
}

header .intro {
    background-color: var(--primary);
    padding: 20px;
    color: var(--text-over-dark-bg);
}

header .intro .intro-name {
    font-size: 1.6em;
}

header ul.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 10px 0 0 0;
}

header ul.nav-menu li {
    width: 120px;
}

header ul.nav-menu li a {
    background-color: var(--secondary);
    border-radius: 10px 10px 0 0;
    color: var(--text-over-dark-bg);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    width: 120px;
    text-align: center;
    padding: 3px;
}

header ul.nav-menu li a:hover {
    background-color: var(--primary);
}

main .content {
    margin: 20px;
    text-align: justify;
}

main .content .section .section-title {
    position: relative;
    font-weight: bold;
    margin-top: 25px;
}

main .content .section .section-title a.previous {
    background-color: var(--secondary);
    color: var(--text-over-dark-bg);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    top: 40px;
    text-decoration: none;
}

main .content .section .section-title a.previous:hover {
    background-color: var(--primary);
}

main .content .section .section-title a.next {
    background-color: var(--secondary);
    color: var(--text-over-dark-bg);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    right: 0px;
    top: 40px;
    text-decoration: none;
}

main .content .section .section-title a.next:hover {
    background-color: var(--primary);
}

main .content .section .section-separator {
    margin: 20px 0 20px 0;
}

main .content .section .section-separator .line {
    width: calc(100% - 40px);
}

main .content .section .section-content table.contact {
    width: 300px;
    margin: 0 auto;
}

main .content .section .section-content table.contact img.contact-icon {
    width: 20px;
    height: 20px;
}

main .content .section .section-content table.contact img.external-link-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

main .content .section .section-content {
    font-size: 0.9em;
}

main .content .section .section-content ul.education {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .content .section .section-content .education .education-item .degree {
    font-weight: bold;
}

main .content .section .section-content .experience .job-title {
    margin: 10px 0 10px 0;
}

main .content .section .section-content .experience .technologies {
    margin: 10px 0 10px 0;
}
