.hide-mobile {
    display: none;
}

body {
    background-color: white;
    color: #4e5e80;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
}

a {
    color: #6183d0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    text-align: left;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}

header {
    position: relative;
}

header .photo {
    display: none;
}

header .intro {
    background-color: #323b4c;
    padding: 20px;
    color: white;
}

header .intro .intro-name {
    font-size: 1.6em;
}

header ul.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    list-style: none;
    padding: 0;
    margin: 13px 0 13px 0;
}

header ul.nav-menu li {
}

header ul.nav-menu li a {
    background-color: #b0b0b0;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.8s ease;
    font-size: 0.6em;
}

header ul.nav-menu li a:hover {
    background-color: #323b4c;
}

main .content {
    margin: 20px;
    text-align: justify;
}

main .content .section .section-title {
    border-bottom: solid 1px;
    padding: 10px;
    position: relative;
    font-weight: bold;
    margin: 20px;
}

main .content .section .section-title a.previous {
    background-color: #b0b0b0;
    color: white;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: -30px;
    top: 5px;
    text-decoration: none;
}

main .content .section .section-title a.next {
    background-color: #b0b0b0;
    color: white;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    right: -30px;
    top: 5px;
    text-decoration: none;
}

main .content .section .section-title .location {
    font-size: 0.8em;
}

main .content .section .section-content .contact img.contact-icon {
    width: 20px;
    height: 20px;
}

main .content .section .section-content .contact img.external-link {
    width: 30px;
    height: 30px;
    margin: 5px;
}

main .content .section .section-content {
    font-size: 0.9em;
}

main .content .section .section-content ul.education {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .content .section .section-content .education .education-item .degree {
    font-weight: bold;
}

main .content .section .section-content .experience .job-title {
    margin: 10px 0 10px 0;
}

main .content .section .section-content .experience .technologies {
    margin: 10px 0 10px 0;
}
