<div class="section">
   <div class="section-title center">
      Página no encontrada
   </div>
   <div class="section-separator">
      {{ separator() }}
   </div>
   <div class="section-content center">
      La página o recurso que estabas buscando no está.
   </div>
</div>
