<div class="section">
   <div class="section-title center">
      PDF
   </div>
   <div class="section-content center">
      Descarga mi currículum en PDF.<br />
      <br />
      <a href="{{ asset('docs/CV-Ricardo-Ruiz-Martinez.pdf') }}" download>
          <img src="{{ asset('images/pdf.svg') }}" width="40" height="40" alt="CV Ricardo Ruiz Martínez en PDF">
      </a>      
   </div>
</div>
