<div class="section">
   <div class="section-title center">
      Presentación
   </div>
   <div class="section-separator center">
      <img src="{{ asset('images/left-arrow.svg') }}" width="20" height="20"><img class="line" src="{{ asset('images/separator.svg') }}" height="20"><img src="{{ asset('images/right-arrow.svg') }}" width="20" height="20">
   </div>
   <div class="section-content">
      Desarrollador PHP Senior/Arquitecto con <b>19 años de trayectoria</b>, especialista en transformar la complejidad técnica en soluciones robustas y escalables. Experto en PHP moderno (v8.x), el framework Symfony y la evolución de arquitecturas, desde la construcción de proyectos de gran envergadura hasta la modernización de sistemas legacy (PHP puro, Drupal, Zend) mediante refactorizaciones críticas y migraciones de alto impacto. Fuerte enfoque en DevOps (Docker, CI/CD, Linux/Bash) e incremento de productividad mediante la aplicación de IA Generativa y prompt engineering avanzado.<br />
      <br />
      <b>Experiencia destacada:</b>
      <ul>
         <li><b>BBVA</b>: Desarrollo de evolutivos y optimización en ecosistemas WordPress.</li>
         <li><b>Coca-Cola Europacific Partners</b>: Securización y mantenimiento de sistemas en PHP puro.</li>
         <li><b>Mapfre</b>: Arquitectura y desarrollo de aplicaciones con Zend Framework.</li>
         <li><b>Ministerio de Hacienda</b>: Aplicaciones con Symfony en entorno de administración pública.</li>
         <li><b>QDump</b>: Proyecto personal para depurar variables y expresiones PHP.</li>
      </ul>
      <b>Stack Técnico Principal:</b>
      <ul>
         <li><b>Backend</b>: Symfony 8, PHP 8.x, Drupal, WordPress.</li>
         <li><b>Bases de Datos</b>: MySQL.</li>
         <li><b>DevOps/Infra</b>: Docker, CI/CD, Linux/Bash.</li>
         <li><b>Metodología</b>: Git, Jira, IA Generativa.</li>
      </ul>
   </div>
</div>
