<div class="section">
   <div class="section-title center">
      Bienvenid@
   </div>
   <div class="section-separator">
      {{ separator() }}
   </div>
   <div class="section-content">
      ¡Hola! &#x1F44B;<br />
      <br />
      Este site es el <span class="bold">Currículum Vitae de Ricardo Ruiz Martínez</span>, un Desarrollador Web especializado en <span class="bold">PHP</span>, <span class="bold">Symfony</span> y tecnologías relacionadas.<br />
      <br />
      Puedes navegar por mi currículum mediante los botones de arriba, o empezar <a class="previous" href="" data-action="click->render#render" data-url="{{ path('app_partial', {'name':'profile'}) }}">aquí</a>.
   </div>
</div>
