<div class="section">
   <div class="section-title center">
      Bienvenid@
   </div>
   <div class="section-separator center">
      <img src="{{ asset('images/left-arrow.svg') }}" width="20" height="20"><img class="line" src="{{ asset('images/separator.svg') }}" height="20"><img src="{{ asset('images/right-arrow.svg') }}" width="20" height="20">
   </div>
   <div class="section-content">
      ¡Hola! &#x1F44B;<br />
      <br />
      Ésta página a la que has llegado es el <span class="bold">Currículum Vitae de Ricardo Ruiz Martínez</span>, un desarrollador web especializado en <span class="bold">PHP</span>, <span class="bold">Symfony</span> y tecnologías relacionadas.<br />
      <br />
      Puedes navegar por mi currículum a través de los botones de arriba, o empezar <a class="previous" href="" data-action="click->render#render" data-url="{{ path('app_partial', {'name':'profile'}) }}">aquí</a>.
   </div>
</div>
